/* Resets Materialize */
nav ul a:hover {
    background-color: rgba(0,0,0,.0) !important;
}
.brand-logo img {
    width: 60px;
    height: 60px;
}
.input-field>label{
    color: black;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #424242 ;
    -webkit-box-shadow: 0 1px 0 0 #424242 ;
    box-shadow: 0 1px 0 0 #424242 ;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #424242;
}
body{
    width: 100%;
  
    overflow-x: hidden;
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }
.parallax-container {
    z-index: 1;

    height: 650px;
    position: relative;
}
.parallax-container::before {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-color: rgba(0, 0, 0, .5);
}
.apresentation {
   color: #fff;
   position: relative;
}
.arrow-down {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-80%, -50%);
        -ms-transform: translate(-80%, -50%);
            transform: translate(-80%, -50%);
    width: 30px;
   

    text-align: center;
}
.arrow-down::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;

    content: " ";
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
            animation: 3s arrow infinite ease;

    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
@-webkit-keyframes arrow {
    0%,
    100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow {
    0%,
    100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
/* Skills */
.skills {
    position: relative;

    width: 100%;
    height: auto;

    background-color: #fff;
}
.skills::before {
    position: absolute;
    top: -95px;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(8deg);
        -ms-transform: skewY(8deg);
            transform: skewY(8deg);

    background-color: #fff;
}
.skills::after {
    position: absolute;
    top: -95px;
    right: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(-8deg);
        -ms-transform: skewY(-8deg);
            transform: skewY(-8deg);

    background-color: #fff;
}
.title-section{
    position: relative;
    top: 65px;
    margin-bottom: 105px;
}
    /* .title-section {
        position: absolute;
        left: 50%;
        margin-top: 20px;
        transform: translate(-50%, 50%);
    } */
.skills-content {
    position: relative;
   

    width: 100%;
    height: auto;
}
.skills-content .progress {
    height: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
/* Times Projects */
.time-projects::before {
    position: absolute;
    top: -55px;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(-8deg);
        -ms-transform: skewY(-8deg);
            transform: skewY(-8deg);

    background-color: #fff;
}
.time-projects::after {
    position: absolute;
    top: -55px;
    right: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(8deg);
        -ms-transform: skewY(8deg);
            transform: skewY(8deg);

    background-color: #fff;
}
.time-projects{
    background-color: #121212;
    color: #fff;
    
   
    position: relative;
}
.time-content{
    padding-top: 135px;
    padding-bottom: 135px;
}
.stat-items i{
    font-size: 50px;
}
.stat-items h2{
    font-size: 42px;
    font-weight: bold;
    color: darkgoldenrod;
}
.stat-items p{
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Portfolio */
.portfolio {
    position: relative;

    width: 100%;
    height: auto;

    background-color: #424242;
    margin-top: -41px;
}
.portfolio::before {
    position: absolute;
    top: -48px;
    left: 0;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(-8deg);
        -ms-transform: skewY(-8deg);
            transform: skewY(-8deg);

    background-color: #424242;
}
.portfolio::after {
    position: absolute;
    top: -48px;
    right: 0;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(8deg);
        -ms-transform: skewY(8deg);
            transform: skewY(8deg);

    background-color: #424242;
}
.portfolio-item {
    height: 200px;
    width: 100%;
    border: 2px solid #424242;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    
    position: relative;
    z-index: 0;
    transition: .2s;
}
.portfolio-item-1:nth-child(1){
    background: url('../img/site1.png');
    background-size: 100% 100%;
}
.portfolio-item-1:nth-child(2){
    background: url('../img/site2.png');
    background-size: 100% 100%;
}
.portfolio-item-1:nth-child(3){
    background: url('../img/site3.png');
    background-size: 100% 100%;
}
.portfolio-item .info-portfolio{
    position: absolute;
    width: 100%;
    height: 50%;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: transparent;
    z-index: 2;
    transition: .2s;
}
.portfolio-item .info-portfolio span{
    font-size: 25px;
    z-index: 2;
    transition: .2s;
}
.portfolio-item .info-portfolio a .link-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
     
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 10px;
    z-index: 2;
    transform: translate(-50%) rotate(-40deg);
    transition: .2s;
    
}
.portfolio-item .info-portfolio a .link-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: transparent;
    transition: .2s;
}
.portfolio-item:hover::after,
.portfolio-item:active::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
}
.portfolio-item:hover .info-portfolio .link-icon,
.portfolio-item:active .info-portfolio .link-icon{
    border: 2px solid white;
    transition: .2s;
}
.portfolio-item:hover .info-portfolio,
.portfolio-item:active .info-portfolio{
    color: white;
    transition: .2s;
}

.portfolio-item:hover .info-portfolio a .link-icon i,
.portfolio-item:active .info-portfolio a .link-icon i{
    color: white;
    transition: .2s;
}


/* Contact */
.contact {
    position: relative;

    width: 100%;
    height: auto;
    min-height: 550px;

    background-color: #fff;
}
.contact::before {
    position: absolute;
    top: -95px;
    left: 0;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(-8deg);
        -ms-transform: skewY(-8deg);
            transform: skewY(-8deg);

    background-color: #fff;
}
.contact::after {
    position: absolute;
    top: -95px;
    right: 0;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(8deg);
        -ms-transform: skewY(8deg);
            transform: skewY(8deg);

    background-color: #fff;
}
.form-content {
   
}
/* Footer */
.footer-page {
    position: relative;

    width: 100%;
    height: 350px;

    background-color: #bdbdbd;
}
.footer-page::before {
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(8deg);
        -ms-transform: skewY(8deg);
            transform: skewY(8deg);

    background-color: #fff;
}
.footer-page::after {
    position: absolute;
    top: -48px;
    right: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    -webkit-transform: skewY(-8deg);
        -ms-transform: skewY(-8deg);
            transform: skewY(-8deg);

    background-color: #fff;
}
.footer-page ul {
    position: relative;
    top: 150px;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    
    
}
.footer-page ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
}
.footer-page ul a {
    text-decoration: none;
    margin: 0 20px 0 20px;
}
.footer-page ul a img {
    width: 40px;
    height: auto;

    -webkit-transition: -webkit-filter .3s;

    transition: -webkit-filter .3s;

    -o-transition: filter .3s;

    transition: filter .3s;

    transition: filter .3s, -webkit-filter .3s;

    -webkit-filter: grayscale(100%);

            filter: grayscale(100%);
}
.footer-page ul  a img:hover {
    -webkit-transition: -webkit-filter .3s;
    transition: -webkit-filter .3s;
    -o-transition: filter .3s;
    transition: filter .3s;
    transition: filter .3s, -webkit-filter .3s;

    -webkit-filter: grayscale(0%);

            filter: grayscale(0%);
}
.footer-page ul  a {
    width: auto;

    text-align: center;
}
.footer-page .copyright {
    position: relative;
    top: 160px;
}
@media screen and (min-width:320px) {
    .portfolio {
        height: 900px;
    }
    .portfolio-item{
        margin-bottom: 20px;s
    }
    .skills {
        height: 1100px;
    }
    .contact {
        min-height: 700px;
    }
}
@media screen and (min-width: 601px) {
    .skills {
        height: 700px;
    }
    .portfolio {
        height: 600px;
    }
    .footer-page {
        height: 330px;
    }
}
@media screen and (min-width: 700px) {
    .skills{
        height: 800px;
    }
    /* .footer-page ul {
        position: relative;
        top: 150px;
        left: 50%;

        display: flex;
        width: 30%;
        margin-left: -15%;
    } */
    .footer-page ul li {
    }
}
@media screen and (min-width: 993px) {
    .portfolio {
        height: 600px;
    }
    .footer-page {
        height: 340px;
    }
}
@media screen and (min-width: 1024px) {
    .portfolio {
        height: 600px;
    }
}