/* Resets Materialize */
nav ul a:hover {
    background-color: rgba(0,0,0,.0) !important;
}
.brand-logo img {
    width: 60px;
    height: 60px;
}
.parallax-container {
    z-index: 1;

    height: 700px;
}
.parallax-container::before {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-color: rgba(0, 0, 0, .5);
}
.apresentation {
    position: absolute;
    z-index: 3;

    width: 100%;

    text-align: center;

    color: #fff;
}
.arrow-down {
    position: relative;
    top: 60%;
    left: 50%;

    width: 40px;
    margin-left: -42px;

    text-align: center;
}
.arrow-down::after {
    position: absolute;

    width: 40px;
    height: 40px;

    content: " ";
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
            animation: 3s arrow infinite ease;

    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
@-webkit-keyframes arrow {
    0%,
    100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow {
    0%,
    100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
/* Skills */
.skills {
    position: relative;

    width: 100%;
    height: auto;

    background-color: #fff;
}
.skills::before {
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(8deg);

    background-color: #fff;
}
.skills::after {
    position: absolute;
    top: -48px;
    right: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(-8deg);

    background-color: #fff;
}
#title-section {
    position: absolute;
    left: 50%;

    transform: translate(-50%, 50%);
}
.skills-content {
    position: relative;
    top: 200px;

    width: 100%;
    height: auto;
}
.skills-content .progress {
    height: 20px;
    margin-top: 30px;
}

/* Portfolio */
.portfolio {
    position: relative;

    width: 100%;
    height: auto;

    background-color: #424242;
}
.portfolio-img {
    width: 220px;
    height: 200px;
}
.portfolio::before {
    position: absolute;
    top: -48px;
    left: 0;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(-8deg);

    background-color: #424242;
}
.portfolio::after {
    position: absolute;
    top: -48px;
    right: 0;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(8deg);

    background-color: #424242;
}
.portfolio-item {
    height: 200px;

    border: 1px solid #424242;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.portfolio-item img {
    width: 200px;
    height: 180px;
    margin: 20px 20px;
}


/* Contact */
.contact {
    position: relative;

    width: 100%;
    height: auto;
    min-height: 550px;

    background-color: #fff;
}
.contact::before {
    position: absolute;
    top: -48px;
    left: 0;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(-8deg);

    background-color: #fff;
}
.contact::after {
    position: absolute;
    top: -48px;
    right: 0;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(8deg);

    background-color: #fff;
}
.form-content {
    position: relative;
    top: 200px;
}
/* Footer */
.footer-page {
    position: relative;

    width: 100%;
    height: 350px;

    background-color: #bdbdbd;
}
.footer-page::before {
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(8deg);

    background-color: #fff;
}
.footer-page::after {
    position: absolute;
    top: -48px;
    right: 0;
    z-index: 1;

    width: 50%;
    height: 100px;

    content: "";
    transform: skewY(-8deg);

    background-color: #fff;
}
.footer-page ul {
    position: relative;
    top: 100px;

    display: flex;
    width: 100%;
}
.footer-page ul li {
    display: inline-flex;
    margin: 0 auto;
}
.footer-page ul li a {
    text-decoration: none;
}
.footer-page ul li a img {
    width: 40px;
    height: auto;

    transition: filter .3s;

    filter: grayscale(100%);
}
.footer-page ul li a img:hover {
    transition: filter .3s;

    filter: grayscale(0%);
}
.footer-page ul li a {
    width: auto;

    text-align: center;
}
.footer-page .copyright {
    position: relative;
    top: 160px;
}
@media screen and (min-width:320px) {
    .portfolio {
        height: 2200px;
    }
    .skills {
        height: 1100px;
    }
    .contact {
        min-height: 700px;
    }
}
@media screen and (min-width: 601px) {
    .skills {
        height: 700px;
    }
    .portfolio {
        height: 800px;
    }
    .footer-page {
        height: 330px;
    }
}
@media screen and (min-width: 700px) {
    .footer-page ul {
        position: relative;
        top: 150px;
        left: 50%;

        display: flex;
        width: 30%;
        margin-left: -15%;
    }
    .footer-page ul li {
    }
}
@media screen and (min-width: 993px) {
    .portfolio {
        height: 950px;
    }
    .footer-page {
        height: 340px;
    }
}
@media screen and (min-width: 1024px) {
    .portfolio {
        height: 1100px;
    }
}
