@media screen and (max-width: 768px){
    /* Melhores Produtos */
    .melhores-produtos {
        display: none;
    }
    .melhores-produtos-cards{
        overflow: auto;
    }
    .melhores-produtos-card .card-content {
        width: 200px;
    }
}