*{
	margin:0;
	padding: 0;

}
body{
	background-color: #7a7a7a;
	
}
div{
	display: flex;
	align-items: center;
	align-content: space-between;
	justify-content: space-around;
	flex-direction: column;

	height: 100vh;
}
h1,h2{
	color: #ffff;
	display: flex;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 10px;

}
p{
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-size: 25px;
	font-weight: 300;


}
ul{
	list-style: none;
	display: flex;
	flex-direction: row;

}
ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10px;
}
ul li img{
	width: 80px;
	height: 80px;
}
.projetos li a{
	text-decoration: none;
	color: #fff;
	padding: 20px;
	background-color: #0077B5;
	border-radius: 5px;
	transition: all 0.4s ease;
}
.projetos li a:hover{
	background-color: #45D354;
	transition: all 0.4s ease;
}