@import "../../components/reset/reset.css";
@import "../../components/utilitarios/utilitarios.css";
@import "../../components/header/header.css";
@import "../.././components/card-produtos/card-produtos.css";
@import "../../components/footer/footer.css";
.error-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   
.error-page-content .error-page-img img {
    width: 100%;
}
.error-page-content h2 {
    font-size: 2.25rem;
}
.error-page-content .heading-server-error {
    font-size: 1.5rem;
    color: #4D4D4D;
}
.error-page-content .form-group {
    margin: 1rem 0;
    max-width: 500px;
    width: 100%;
}
.error-page-content .form-group input {
    width: 100%;
    background: url(../../../img/search-icon.svg) no-repeat;
    background-position: 95% center;
    background-color: #FFF;
}
.error-page-content p {
    color: #494949;
}
.btn-error-page {
    padding: 0.75rem 3rem;
    font-size: 1rem;
}
/* Melhores produtos */
.melhores-produtos-cards{
    display: flex;
    flex-direction: row;
    position: relative;
}
.melhores-produtos-cards .melhores-produtos-card {
    position: relative;
    width: 200px;
    background: #FFF;
    border-radius: 6px;
    margin-left: 0.1rem;
}
.melhores-produtos-card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.melhores-produtos-cards .melhores-produtos-card:nth-child(1) .card-content img,
.melhores-produtos-cards .melhores-produtos-card:nth-child(2) .card-content img,
.melhores-produtos-cards .melhores-produtos-card:nth-child(3) .card-content img,
.melhores-produtos-cards .melhores-produtos-card:nth-child(4) .card-content img,
.melhores-produtos-cards .melhores-produtos-card:nth-child(6) .card-content img,
.melhores-produtos-cards .melhores-produtos-card:nth-child(7) .card-content img {
    margin-top: 1rem;
}
.melhores-produtos-cards .melhores-produtos-card:nth-child(5) .card-content img {
    margin-top: 2rem;
}
.melhores-produtos-card .card-content p {
    font-weight: bold;
    color: var(--tertiary-font-color);
    align-self: center;
}
.input-carrinho-vazio {
    display: block;
}
.section-header.section-header-error-page {
    font-size: 1rem;
    text-align: left;
}