@media screen and (max-width: 425px){
    /* Banner Regua */
    .banner-regua .container {
        padding: 0;
    }
    .banner-regua {
        display: block;
    }
    /* O que pode te fazer feliz Hoje */
    .melhores-produtos .container {
        padding-right: 0;
    }
    /* Faça seu Dia Mais doce */
    .seu-dia-mais-doce-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .seu-dia-mais-doce .container {
        padding: 0;
    }
    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card{
        flex-basis: 50%;
    }
    .seu-dia-mais-doce-cards .seu-dia-mais-doce-card img {
        width: 100%
    }
    /* Produtos Card */
    .favoritos-produtos {
        flex-direction: column;
    }
    .favoritos .container{
        padding: 0.5rem 0.5rem;
    }
    .produtos-card {
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0.25rem;
    }
    .produtos-card .produto-img{
        margin: 0.5rem;
    }
    /* Banner Categorias */
    .banner-categorias .container {
        padding: 0;
    }
    .banner-categorias-content {
        flex-direction: column;
    }
    .banner-categorias-content .banner:nth-child(1) {
        margin: 0;
    }
    .descontinho-especial-produtos  {
        flex-direction: column;
    }
    .descontinho-especial .container {
        padding: 0.5rem
    }
}
@media screen and (max-width: 360px){
    .melhores-produtos .container{
        padding: 0;
    }
    .seu-dia-mais-doce .container {
        padding: 0;
    }
}
@media screen and (max-width: 320px){
    .header-content .container {
        padding: 0.5rem 0.5rem;
    }
    .favoritos .container, 
    .descontinho-especial .container  {
        padding: 0.15rem 0.15rem;
    }
}

