.logo {
    width: 100px;
}
.btn-light{
    padding: 0.75rem 1.5rem;
    font-size: 0.8rem;
} 
.container {
    padding: 0 0.75rem;
}
/* Showcase */
header {
    background: url('../images/bg-hero-mobile.svg') no-repeat center center/cover, var(--neutral-color-very-pale-cyan);
}
.showcase-content {
    flex-direction: column;
    text-align: center;
}
.showcase-content h1 {
    font-size: 1.5rem;
}
.left-content p {
    width: 100%;
}
.right-content {
    margin: 1rem 0;
}
/* About */
.about .section-content .card  {
    flex-direction: column;
    padding: 0;
    text-align: center;
    padding: 1rem 1.2rem;
}
.card .left-content {
    order: 2;
}
.card:nth-child(even) .left-content {
    margin: 0;
}
/* Footer */
footer .footer-content {
    flex-direction: column;
}
@media screen and (max-width: 425px) {
    footer .footer-content .menus {
        flex-direction: column;
    }
    .menu-footer.menu {
        margin-top: 30px;
    }
    ul.menu-footer.menu-social {
        margin-top: 30px;
    }
    .copyright {
        text-align: center;
        margin-top: 2rem;
    }
    footer {
        padding-bottom: 1rem !important;
    }
}