.row-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.nossas-lojas-main {
    padding: 0 6em 0em 2em;
    font-size: 0.9em;
}

.nossas-lojas-search {
    padding: 2em 2em 0 0;
    /* width: 100vh;*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    white-space: nowrap;
}

.input-search-loja {
    background-color: white;
}

.nossas-lojas-search input {
    width: 40em;
}

.nossas-lojas-search h3 {
    align-self: center;
    margin-right: 1em;
}

.btn-search {
    font-size: 1.1em;
    color: gray;
    font-weight: normal;
    margin: 0 -7em;
    font-family: var(--tertiary-font);
    border-left: 1px solid #b6b6b6;
    transition: .5s;
    cursor: pointer;
}

.btn-search:hover {
    color: var(--primary-color-btn-card);
    transition: .5s;
}

.btn-search i {
    font-size: 1.35em;
    padding: 0 0.3em 0 0.5em;
}

.nossas-lojas-list {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    justify-content: space-around;
}

.loja-item {
    background-color: white;
    padding: 1em 1em 0em 1em;
    width: 28%;
    font-family: var(--tertiary-font);
}

.loja-item .text-p {
    margin: 0;
    font-size: 0.8em;
}

.loja-item .text-l {
    font-size: 0.9em;
}

.nossas-lojas-btn {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    padding: 0.55em 2em;
    width: 100%;
    background-color: white;
    font-family: var(--secondary-font);
    border: 2px solid var(--primary-font-color-card);
    margin-bottom: 1em;
    color: var(--primary-font-color-card);
    border-radius: 0;
    cursor: pointer;
    margin-top: 1em;
}

.search-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .row-itens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0em;
    }
    .nossas-lojas-main {
        padding: 0;
    }
    .nossas-lojas-main h2 {
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 0;
    }
    .nossas-lojas-search {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nossas-lojas-search h3 {
        margin-top: 0em;
        margin-bottom: 1em;
        text-align: center;
        width: 100%;
        align-self: baseline;
    }
    .nossas-lojas-search input {
        width: 100%;
    }
    .search-desktop {
        display: none;
    }
    .search-mobile {
        display: inline-flex;
        font-size: 0.95em;
    }
    .btn-search {
        margin: 0 -4em;
        color: var(--primary-color-btn-card);
    }
    .nossas-lojas-list {
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        justify-content: space-around;
    }
    .loja-item {
        background-color: white;
        padding: 1em 1em 0em 1em;
        width: 100%;
        font-family: var(--tertiary-font);
        margin-bottom: 2em;
    }
    .loja-item .text-l {
        font-size: 1em;
    }
    .loja-item .text-p {
        font-size: 0.9em;
    }
    .nossas-lojas-btn {
        font-size: 1.2em;
        padding: 0.55em 1em;
    }
}