@import "../../components/reset/reset.css";
@import "../../components/utilitarios/utilitarios.css";
@import "../../components/header/header.css";
@import "../.././components/card-produtos/card-produtos.css";
@import "../../components/footer/footer.css";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import "nossas-lojas.css";
.institucional-body {
    display: flex;
    padding: 1.5em;
    flex-direction: row;
    justify-content: center;
}

.paginacao {
    justify-content: inherit;
}

.paginacao nav {
    padding: 0.6rem 5rem;
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
}

.paginacao nav ul {
    justify-content: start !important;
}

.paginacao nav ul li {
    padding-right: 1em;
    font-size: 0.85em;
    font-family: var(--tertiary-font);
}

.quem-somos-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quem-somos {
    padding: 1.5rem 0;
}

.quem-somos .container {
    padding: 0;
}

.menus {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0em 1.5em 0;
}

.menus .menu {
    background: #FFF;
    border-radius: 5px;
    padding: 1.30rem;
    margin-bottom: 2rem;
}

.menus .menu .menu-header {
    padding: 0.5rem 0;
    border-bottom: 2px dotted #CFCFCF;
}

.menu-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    place-content: space-between;
}

.toggle-li-1,
.toggle-li-2 {
    display: none;
}

.menu-header h3 {
    font-size: 1.05em;
    white-space: nowrap;
    font-family: var(--tertiary-font);
    text-align: left;
    margin-right: 3em;
}

.menus .menu ul li a {
    display: inline-block;
    font-family: var(--tertiary-font);
    color: #3E3E3E;
    font-weight: 500;
    padding: 0.25rem 0;
    white-space: nowrap;
}

.menus .menu ul li a.active {
    font-weight: 700;
}

.quem-somos-main {
    padding: 0 2em;
    font-size: 0.9em;
}

.aspect-main {
    background: white;
    border-radius: 5px;
}

.quem-somos-separar {
    display: flex;
    padding-left: 2em;
}

.quem-somos-separar p {
    font-family: var(--tertiary-font);
    width: 27em;
}

.quem-somos-header {
    display: flex;
    justify-content: center;
}

.quem-somos-header img {
    width: 43em;
}

.quem-somos-separar img {
    width: 22em;
    margin-top: 2em;
}

.quem-somos-info {
    z-index: 2;
}

.quem-somos-info h2 {
    font-size: 2em;
}

.quem-somos-info h3 {
    font-size: 1.3em;
}

.quem-somos-footer {
    display: flex;
    justify-content: flex-end;
}

.quem-somos-footer img {
    margin-top: -9em;
    width: 30em;
}

.quem-somos-contato {
    padding: 1.5rem 0em 1.5em 0;
}

.forma-contato {
    padding-top: 1em;
    background-color: white;
    border-radius: 5px;
    font-family: var(--tertiary-font);
}

.quem-somos-contato {
    width: 16em;
}

.atendimento-por-email-content {
    white-space: nowrap;
}

.horario-atendimento {
    color: gray;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
}

.contato-item {
    padding: 0.8em;
}

.contato-item h3 {
    font-size: 1.05em;
}

.telefones,
.atendimento-email-info {
    display: flex;
    align-items: last baseline;
}

.telefones img,
.atendimento-email-info img {
    height: max-content;
    margin-top: 1em;
    padding: 0.4em;
}

.sub-info-contato p {
    margin: 0;
}

.contato-mensagem {
    display: flex;
    justify-content: center;
}

.contato-mensagem .btn {
    background-color: #EC3354;
    font-family: var(--secondary-font);
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .institucional-body {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
    .quem-somos {
        padding: 0 0.5em;
    }
    .quem-somos-content {
        display: block;
    }
    .quem-somos-header,
    .quem-somos-img,
    .quem-somos-footer,
    .quem-somos-contato {
        display: none;
    }
    .quem-somos-info h2 {
        margin-top: 1em;
    }
    .quem-somos-main {
        padding: 0;
        font-size: 0.9em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .quem-somos-main p {
        width: 100%;
    }
    .quem-somos-separar {
        display: flex;
        padding-left: 2em;
        padding-right: 2em;
    }
    .menus {
        padding: 0;
    }
    .menus .menu {
        background: #FFF;
        border-radius: 5px;
        margin-bottom: 0rem;
        padding: 0;
    }
    .menu ul {
        padding: 1.5em;
    }
    .first-menu {
        border-top: solid 0px #E5E5E5 !important;
    }
    .menus .menu .menu-header {
        padding: 1.5em;
        border-bottom: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
    }
    .menu-header h3 {
        font-size: 1.05em;
        white-space: nowrap;
        font-family: var(--tertiary-font);
        text-align: left;
        margin-right: 0;
    }
    .toggle-li-1,
    .toggle-li-2 {
        display: block;
    }
    .menu-li-1,
    .menu-li-2 {
        display: none;
    }
    .paginacao nav {
        padding: 1rem 0rem;
        border-top: solid 1px #E5E5E5;
        border-bottom: solid 1px #E5E5E5;
    }
    .paginacao nav ul {
        justify-content: inherit !important;
    }
    .paginacao nav ul li {
        padding-right: 0em;
        white-space: nowrap;
    }
}