.menu-toogle {
    display: none;
}

.header-content {
    background: var(--primary-color);
    z-index: 98;
    position: sticky;
    top: 0;
    left: 0;
}

.header-content nav {
    padding: 0.75rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content nav ul {
    display: flex;
    flex-direction: row;
}

.header-content nav ul li {
    margin-right: 0.5rem;
}

.header-content nav ul li a {
    color: var(--secondary-font-color);
}

.header-content nav input[type="search"] {
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 60px;
    padding: 0.75rem 1rem;
    background: url(../../../img/search-icon.svg) no-repeat;
    background-position: 260px center;
    background-color: #FFF;
    width: 300px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
}

.logo {
    margin-left: 240px;
}

.login-container {
    margin-left: 60px;
}

.busca-container {
    display: none;
}


/* Nav Sections */

.nav-sections {
    background: #FFF;
}

.nav-sections nav {
    padding: 0rem 5rem;
}

.nav-sections nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-section-item {
    color: #25809D;
}


/* Side nav */

.side-nav {
    display: none;
}

@media screen and (max-width: 1170px) {
    /* Header */
    .logo {
        margin-left: 150px;
    }
    .login-container {
        margin-left: 30px;
    }
    /* Fim Header */
}

@media screen and (max-width: 768px) {
    .header-content nav ul {
        display: none;
    }
    .menu-toogle {
        display: block;
    }
    .logo {
        margin-left: 50px;
        width: 125px;
        height: 35px;
    }
    .header-content nav input[type="search"] {
        margin-left: 20px;
        display: none;
    }
    .login-container {
        margin-left: 40px;
    }
    .cart-container {
        margin-left: 10px;
    }
    /* Nav Mobile */
    .side-nav {
        display: block;
        width: 300px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: white;
        transform: translateX(-320px);
        transition: transform .5s ease-in;
        list-style: none;
        padding: 0.5rem 0.25rem;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    }
    .side-nav .nav-header {
        background: #263273;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
    }
    .side-nav .nav-header .header-nav-content a {
        color: #FFF;
        font-weight: 300;
    }
    .side-nav .nav-header .close-nav {
        width: 30px;
        height: 30px;
        background: #DA4242;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }
    .side-nav ul li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EFEFEF;
    }
    .side-nav ul .nav-section-item {
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 0.5rem;
        width: 100%;
    }
    .side-nav .nav-footer {
        margin-top: 5rem;
    }
    .side-nav .nav-footer .nav-footer-content {
        display: flex;
        justify-content: space-between;
    }
    .side-nav .nav-footer .nav-footer-content .btn-nav-footer {
        background: #F5C826;
        border-radius: 4px;
        flex: 1;
        text-align: center;
        margin-right: 0.5rem;
        padding: 0.5rem 0;
        font-weight: 700;
        color: #002378;
    }
    .side-nav .nav-footer .nav-footer-content .btn-nav-footer:nth-child(2) {
        margin-right: 0;
    }
    .active {
        transform: translateX(0px);
    }
    /* Nav Sections */
    .nav-sections nav {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    /* Header */
    .logo {
        width: 125px;
        margin-left: 80px;
    }
    .input-search {
        display: none;
    }
    .busca-container {
        display: block;
    }
    .busca-mobile {
        width: 100%;
        height: 200px;
        background: white;
        z-index: 999;
        position: relative;
        float: right;
    }
    /* Nav Sections */
    .nav-sections .container {
        padding: 0;
    }
    .nav-sections nav {
        padding: 0;
        overflow: auto;
    }
    .nav-sections nav ul {
        justify-content: inherit;
    }
    .nav-sections nav ul li {
        margin: 0 0.75rem;
    }
    .login-container {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .logo {
        margin-left: 40px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        margin-left: 20px;
    }
    .login-container {
        margin-left: 20px;
    }
}